.user-row {
  margin-bottom: 10px;
  height: 75px; }

.user-row__avatar {
  height: 100%; }

.user-row > .user-row__avatar > img {
  object-fit: contain;
  height: 100%; }

.user-row > .user-row__login {
  font-size: 2em; }

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

.header-row {
  margin-bottom: 10px;
  height: 40px; }

.spinner__message {
  font-size: 11px; }

@media (min-width: 769px) {
  .spinner__message {
    font-size: 14px; }
  .user-row {
    margin-bottom: 20px;
    height: 147px; }
  .user-row > .user-row__login {
    position: relative;
    left: -1em; } }

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.star-icon {
  cursor: pointer; }

.star-icon--favorited {
  color: rgba(244, 60, 24, 0.54); }
